# to set up n8n locally using docker and ngrok 

POSTGRES_DB="any db name"
POSTGRES_USER="any user name"
POSTGRES_PASSWORD="any password"

N8N_BASIC_AUTH_USER="username"
N8N_BASIC_AUTH_PASSWORD=" any password"

N8N_HOST="your ngrok host link"
N8N_PROTOCOL=https
WEBHOOK_URL="https + your ngrok host link"